version: '2'

services:
  # TODO: change this name to match the name of your app
  cui-ra:
    container_name: cui-ra-app
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_TLS=false
      - REDIS_PROTOCOL=redis
      - DEMO_ENABLED=true
      - SESSION_SECURE=true
    expose:
      - 3100
    volumes:
      - ./secrets:/mnt/secrets:ro
  nginx:
    container_name: cui-nginx
    image: nginx:1.29.3
    ports:
      - '443:443'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./src/main/resources/localhost-ssl/:/certs/:ro
    depends_on:
      - cui-ra
  redis:
    image: 'redis:8.4.0'
    container_name: 'cui-redis-container'
    command: sh -c 'if [ -f /mnt/secrets/cui/redis-access-key ]; then cat /mnt/secrets/cui/redis-access-key; else echo "password"; fi | redis-server --requirepass $(cat)'
    ports:
      - '6379:6379'
    expose:
      - 6379:6379
    volumes:
      - ./secrets:/mnt/secrets:ro
