@import 'govuk-frontend';
@import 'header';
@import 'autocomplete';
@import 'override';
@import 'overview.scss';

textarea {
  overflow: hidden;
}

span.error-message {
  color: #d4351c;
  font-weight: 700;
}
