{% extends "template.njk" %}

{% block content %}
    <span class="govuk-caption-xl">Reasonable Adjustments</span>
    <h1 class="govuk-heading-xl">Demo</h1>

    <p class="govuk-body govuk-!-font-weight-bold">New User - Go into start of flags</p>
    <form action="/demo" method="post">
        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" value="new" name="action">
            Enter New Journey
        </button>
    </form>

    <p class="govuk-body govuk-!-font-weight-bold">Existing User - Go to overview</p>
    <form action="/demo" method="post">
        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" value="existing" name="action">
            Enter Existing Journey
        </button>
    </form>
{% endblock %}