{% extends "template.njk" %}

{% set welsh = false %}

{% if welsh === false %}
    {% set nameValue = 'name' %}
    {% set master_name = mastername %}
{% else %}
    {% set nameValue = 'name_cy' %}
    {% set master_name = mastername_cy %}
{% endif %}

{% block content %}
    <span class="govuk-caption-xl">{{ master_name }}</span>
    <h1 class="govuk-heading-xl">Demo</h1>

    <p class="govuk-body">
        The existing journey can be tested through to the review page.<br/>
        The new journey is missing validation.
    </p>

    <p class="govuk-body govuk-!-font-weight-bold">New User - Go into start of flags</p>
    <form action="/start-demo" method="get">
        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" value="new" name="action">
            Enter New Journey
        </button>
    </form>

    <p class="govuk-body govuk-!-font-weight-bold">Existing User - Go to overview</p>
    <form action="/start-demo" method="get">
        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" value="existing" name="action">
            Enter Existing Journey
        </button>
    </form>
{% endblock %}