{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
  <p>From Resource File: {{ _t('helloworld') }}</p>
  <p>Flag 1: {{ _t('flag_0001') }}</p>
  <p>Flag 2: {{ _t('deeper.flag_0002') }}</p>
  <p>OTHER</p>
  <p>Flag 2: {{ _t('helloworld') }}</p>
{% endblock %}
