{% extends "template.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: _t('back'),
        href: route.BACK
    }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ _t('intro.heading') }}</h1>
        <p class="govuk-body">{{ _t('intro.paragraph_1') }}</p>
        {{ govukInsetText({
            text: _t('intro.blurb')
        }) }}
        <div class="govuk-button-group">
            {{ govukButton({
                text: _t('start_now'),
                href: route.REVIEW,
                isStartButton: true,
                preventDoubleClick: true
            }) }}
            <a href="{{ route.CANCEL }}" class="govuk-link govuk-link--no-visited-state">{{ _t('cancel') }}</a>
        </div>
    </div>
  </div>
{% endblock %}