{% extends "template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: _t('back'),
        href: route.BACK
    }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ _r(_t('supportForName'), { name: name }) }}</h1>

        <p class="govuk-body">
            <a href="/home/intro" class="govuk-link govuk-link--no-visited-state">{{ _t('overview.changeMySupportOptions') }}</a>
        </p>

        <h2 class="govuk-heading-m">{{ _t('overview.tableHeading') }}</h2>

        <h3 class="flex govuk-heading-s govuk-!-margin-bottom-2" >
          <div class="overview-col1">{{ _t('overview.column1Heading') }}</div>
          <div>{{ _t('overview.column2Heading') }}</div>
        </h3>

      {% macro govuktag(status, colour) %}
      <strong class="govuk-tag govuk-tag--{{colour}}">{{ status }}</strong>
      {% endmacro %}

      <ul class="govuk-list">
        {% for item in existingFlags %}
        <li class="flex govuk-task-list__item">
          <div class="overview-col1">
            {% if welsh === false %}{{ item.value.name }}{% else %}{{ item.value.name_cy }}{% endif %}
            {% if item.value.flagCode === common.OTHER_FLAG_CODE %}
            <br/>
            {{ item.value.path.slice(-1).pop().name }}
            {% endif %}
          </div>
          <div>
            {% if item.value.status == status.REQUESTED %}
            {{ govuktag(_t('overview.status.requested'), 'yellow')}}
            {% elif item.value.status == status.ACTIVE %}
            {{ govuktag(_t('overview.status.active'), 'turquoise')}}
            {% elif item.value.status == status.INACTIVE %}
            {{ govuktag(_t('overview.status.inactive'), 'grey')}}
            {% elif item.value.status == status.NOT_APPROVED %}
            {{ govuktag(_t('overview.status.notApproved'), 'orange')}}
            {% endif %}
          </div>
        </li>
        {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}
