{% extends "template.njk" %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Privacy Policy</h1>

  <p class='govuk-body'>This will be a link to a URL provided by the service</p>
{% endblock %}
