{% extends "template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: _t('back'),
        href: route.BACK
    }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ _t('review.heading') }}</h1>

        <h2 class="govuk-heading-m">Reasonable adjustments<h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <span class='govuk-!-font-weight-bold'>{{ _t('review.nameOfParty') }}</span>
                    </th>
                    <td class="govuk-table__cell">
                        {{ partyname }}
                    </td>
                </tr>
            </tbody>
        </table>

        {# Active or already requested #}
        {% if requested|length > 0 %}
        <h3 class="govuk-heading-s">{{ _t('review.support.previous') }}</h3>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                {% for item in requested %}
                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                            {% if item.value.flagCode !== 'OT0001' %}
                                {% if welsh === false %}{{ item.value.name }}{% else %}{{ item.value.name_cy }}{% endif %} 
                            {% else %}
                                {% if welsh === false %}{{ item.value.otherDescription }}{% else %}{{ item.value.otherDescription_cy }}{% endif %}
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a class='govuk-link govuk-link--no-visited-state' href="{{ route.SET_INACTIVE }}?id={{ item.id }}">{{ _t('review.actions.remove') }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {# Newely requested #}
        {% if new|length > 0 %}
        <h3 class="govuk-heading-s">{{ _t('review.support.new') }}</h3>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                {% for item in new %}
                    {% if item._isCategoryPage %}
                        {% set page = item.id %}
                    {% else %}
                        {% set page = item._parentId %}
                    {% endif %}
                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                            {% if item.value.flagCode !== 'OT0001' %}
                                {% if welsh === false %}{{ item.value.name }}{% else %}{{ item.value.name_cy }}{% endif %} 
                            {% else %}
                                {% if welsh === false %}{{ item.value.otherDescription }}{% else %}{{ item.value.otherDescription_cy }}{% endif %}
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a class='govuk-link govuk-link--no-visited-state' href="{{ _route( route.JOURNEY_DISPLAY_FLAGS, { id: page } ) }}?change=true">{{ _t("review.actions.change") }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {# No longer required #}
        {% if notRequired|length > 0 %}
        <h3 class="govuk-heading-s">{{ _t('review.support.notNeeded') }}</h3>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                {% for item in notRequired %}
                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                            {% if item.value.flagCode !== 'OT0001' %}
                                {% if welsh === false %}{{ item.value.name }}{% else %}{{ item.value.name_cy }}{% endif %} 
                            {% else %}
                                {% if welsh === false %}{{ item.value.otherDescription }}{% else %}{{ item.value.otherDescription_cy }}{% endif %}
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a class='govuk-link govuk-link--no-visited-state' href="{{ route.SET_REQUESTED }}?id={{ item.id }}">{{ _t("review.actions.add") }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <a href="{{ _route( route.JOURNEY_DISPLAY_FLAGS, { id: 'PF0001-RA0001' } ) }}?change=true&new=true" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            {{ _t("review.actions.new") }}
        </a>
        <form method="POST">
            <div class="govuk-button-group">       
                <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                    {{ _t('review.actions.submit') }}
                </button>
        
                <a class="govuk-link govuk-link--no-visited-state" href="{{ route.CANCEL }}">{{ _t('cancel') }}</a>
            </div>
         </form>
    </div>
  </div>
{% endblock %}