{% extends "template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "./macros/csrf.njk" import csrfProtection %}

{% block preTitle %}
  {{ _t('review.heading') }} - 
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: _t('back'),
        href: route.BACK
    }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ _t('review.heading') }}</h1>

        <h2 class="govuk-heading-m">{{ _t('overview.tableHeading') }}</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <span class='govuk-!-font-weight-bold'>{{ _t('review.nameOfParty') }}</span>
            </dt>
             <dd class="govuk-summary-list__actions">
              {{ partyname }}
            </dd>
          </div>
        </dl>

        {# Active or already requested #}
        {% if requested|length > 0 %}
        <h3 class="govuk-heading-s">{{ _t('review.support.previous') }}</h3>

        <ul class="govuk-task-list">
        {% for item in requested %}
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint" id="remove-name-{{ item.id }}">
              {% if welsh === false %}{{ item.value.name }}{% else %}{{ item.value.name_cy }}{% endif %}
              {% if item.value.flagCode === common.OTHER_FLAG_CODE %}
                {{ item.value.path.slice(-1).pop().name }}
              {% endif %}
            </div>
            <div class="govuk-task-list__status">
              <a class="govuk-link govuk-link--no-visited-state" id="remove-{{ item.id }}" aria-labelledby="remove-{{ item.id }} remove-name-{{ item.id }}" href="{{ route.SET_INACTIVE }}?id={{ item.id }}">{{ _t('review.actions.remove') }}</a>
            </div>
          </li>
        {% endfor %}
        </ul>
        {% endif %}

        {# Newly requested #}
        {% if new|length > 0 %}
        <h3 class="govuk-heading-s">{{ _t('review.support.new') }}</h3>

        <ul class="govuk-task-list">
        {% for item in new %}
          {% if item._isCategoryPage %}
            {% set page = item.id %}
          {% else %}
            {% set page = item._parentId %}
          {% endif %}
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <div id="change-name-{{ item.id }}">{% if welsh === false %}{{ item.value.name }}{% else %}{{ item.value.name_cy }}{% endif %}
              {% if item.value.flagCode === common.OTHER_FLAG_CODE %}
                {% if welsh === false %}{{ item.value.otherDescription }}{% else %}{{ item.value.otherDescription_cy }}{% endif %}
              {% endif %}
              </div>
              <div id="change-value-{{ item.id }}" class="govuk-hint">
              {% if item._listOfValuesLength %}
                {% if welsh === false %}{{ item.value.subTypeValue }}{% else %}{{ item.value.subTypeValue_cy }}{% endif %}
              {% else %}
                {% if welsh === false %}{{ item.value.flagComment }}{% else %}{{ item.value.flagComment_cy }}{% endif %}
              {% endif %}
             </div>
            </div>
            <div class="govuk-task-list__status">
              <a aria-labelledby="change-{{ item.id }} change-name-{{ item.id }} change-value-{{ item.id }}" id="change-{{ item.id }}" class='govuk-link govuk-link--no-visited-state' href="{{ _route( route.JOURNEY_DISPLAY_FLAGS, { id: page } ) }}?change=true">{{ _t("review.actions.change") }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {# No longer required #}
        {% if notRequired|length > 0 %}
        <h3 class="govuk-heading-s">{{ _t('review.support.notNeeded') }}</h3>

        <ul class="govuk-task-list">
        {% for item in notRequired %}
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint" id="add-name-{{ item.id }}">
              {% if welsh === false %}{{ item.value.name }}{% else %}{{ item.value.name_cy }}{% endif %}
              {% if item.value.flagCode === common.OTHER_FLAG_CODE %}
                {{ item.value.path.slice(-1).pop().name }}
              {% endif %}
            </div>
            <div class="govuk-task-list__status">
              <a id="add-{{ item.id }}" class="govuk-link govuk-link--no-visited-state" href="{{ route.SET_REQUESTED }}?id={{ item.id }}" aria-labelledby="add-{{ item.id }} add-name-{{ item.id }}"> {{ _t("review.actions.add") }}</a>
            </div>
          </li>
        {% endfor %}
        </ul>
      {% endif %}

        <a id="review-action-new" href="{{ _route( route.JOURNEY_DISPLAY_FLAGS, { id: masterId } ) }}?change=true&new=true" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            {{ _t("review.actions.new") }}
        </a>
        <form method="POST">
            {{ csrfProtection(csrfToken) }}
            <div class="govuk-button-group">
                <button id="submit-review" type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                    {{ _t('review.actions.submit') }}
                </button>

                <a class="govuk-link govuk-link--no-visited-state" href="{{ route.CANCEL }}">{{ _t('cancel') }}</a>
            </div>
         </form>
    </div>
  </div>
{% endblock %}
