{% from "./govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% extends "govuk/template.njk" %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {% if hasSession %}
  {% set menuNavigation = [
      {
        href: route.SIGN_OUT,
        text: _t('header.signOut'),
        active: true,
        id: 'logout'
      }
    ]
  %}
  {% else %}
  {% set menuNavigation = [] %}
  {% endif %}
  {{ govukHeader({
    serviceName: _t('header.title'),
    navigation: menuNavigation,
    navigationClasses: "single-item-navigation logged-in",
    menuButtonText: _t('header.menuText')
  }) }}
{% endblock %}

{% set feedbackHtml %}
This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/your_support/?pageurl={{ fullUrl }}" target="_blank">feedback</a> will help us to improve it.
{% endset -%}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: feedbackHtml
  }) }}
{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}
  {{ _t('contact.content') | safe }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: route.COOKIES,
          text: _t('footer.cookies')
        },
        {
          href: route.PRIVACY_POLICY,
          text: _t('footer.privacyPolicy')
        },
        {
          href: route.TERMS_AND_CONDITIONS,
          text: _t('footer.termsAndConditions')
        },
        {
          href: "https://www.gov.uk/help",
          text: _t('footer.helpUsingGovUk')
        },
        {
          href: "https://www.gov.uk/contact",
          text: _t('footer.contactUs')
        },
        {
          href: route.ACCESSIBILITY_STATEMENT,
          text: _t('footer.accessibilityStatement')
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
