{% from "./govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% extends "govuk/template.njk" %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: _t('header.title'),
    navigation: [
      {
        href: "#",
        text: _t('header.sign_out'),
        active: true
      }
    ],
    navigationClasses: "single-item-navigation",
    menuButtonText: _t('header.menu-text')
  }) }}
{% endblock %}

{% set feedbackHtml %}
This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/your_support/?pageurl={{ fullUrl }}">feedback</a> will help us to improve it.
{% endset -%}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: feedbackHtml
  }) }}
{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}
  {{ _t('contact.content') | safe }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: route.COOKIES,
          text: _t('footer.cookies')
        },
        {
          href: route.PRIVACY_POLICY,
          text: _t('footer.privacy_policy')
        },
        {
          href: route.TERMS_AND_CONDITIONS,
          text: _t('footer.terms_and_conditions')
        },
        {
          href: "https://www.gov.uk/help",
          text: _t('footer.help_using_gov_uk')
        },
        {
          href: "https://www.gov.uk/contact",
          text: _t('footer.contact_us')
        },
        {
          href: route.ACCESSIBILITY_STATEMENT,
          text: _t('footer.accessibility_statement')
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
