{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ _t('404.heading') }}</h1>
        <p class="govuk-body">
          {{ _t('404.paragraph_1') }}
        </p>
        <p class="govuk-body">
          {{ _t('404.paragraph_2') }}
        </p>
        <p class="govuk-body">
          {{ _t('404.paragraph_3') }}
        </p>
    </div>
  </div>
{% endblock %}
