{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ _t('500.heading') }}</h1>
        <p class="govuk-body">
          {{ _t('500.paragraph1') }}
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="{{_t('500.services.ABA5.link-url') }}" class="govuk-link">
              {{ _t('500.services.ABA5.link-text') }}
            </a>
          </li>
        </ul>
    </div>
  </div>
{% endblock %}
