{% extends "./../template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "./../macros/csrf.njk" import csrfProtection %}

{% if welsh === false %}
    {% set nameValue = 'name' %}
    {% set master_name = mastername %}
{% else %}
    {% set nameValue = 'name_cy' %}
    {% set master_name = mastername_cy %}
{% endif %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: _t('back'),
        href: route.BACK
    }) }}
{% endblock %}

{% block preTitle %}
  {{ parent.value[nameValue] }} - 
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST">

      {% if validationErrors and (validationErrors | length > 0) %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              {{ _t('form.problem') }}
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for key, error in validationErrors %}
                <li>
                  <a id="error-id-{{key}}" href="#flagComment-{{key}}">{% if _t(error) %}{{ _t(error) }}{% else %}error{% endif %}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      

      <div class="govuk-form-group {% if validationErrors and (validationErrors | length > 0) %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="header-question" aria-labelledby="main-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 id="header-question" class="govuk-heading-l">
                <span class="govuk-caption-l">{{ master_name }} {% if partyname %}{{ _r(_t('forName'), { name:partyname }) }}{% endif %}</span>
                {% block formHeading %}
                {% if _t(parent.value.flagCode + ".fullQuestion") %}
                  {{ _t(parent.value.flagCode  + ".fullQuestion") }}
                {% else %}
                  {{ parent.value[nameValue] }}
                {% endif %}
                {% endblock %}
            </h1>

            {% if _t(parent.value.flagCode+ ".blurb") %}
              {{ govukInsetText({
                  text: _t(parent.value.flagCode + ".blurb")
              }) }}
            {% endif %}
              
          </legend>
          {% block form %}
          {% endblock %}
        </fieldset>
      </div>

      

      {{ csrfProtection(csrfToken) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: _t('form.submitButton'),
          type: "submit",
          preventDoubleClick: true
        }) }}

        {% if (change) %} 
        {% set queryParam = "?change=true" %}
        {% endif %}

        <a href="{{ route.CANCEL }}{{ queryParam }}" class="govuk-link govuk-link--no-visited-state">{{ _t('cancel') }}</a>
      </div>
    </form>

  </div>
</div>
{% endblock %}