{% extends "./base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% if welsh === false %}
    {% set inputName = 'flagComment' %}
{% else %}
    {% set inputName = 'flagComment_cy' %}
{% endif %}

{% block form %}
    {% set hintKey = parent.value.flagCode + '.command' %}
    <div id="main-hint" class="govuk-hint">
        {% if _t(hintKey) %}
            {{ _t(hintKey) }}
        {% else %}
            {{ _t('form.command') }}
        {% endif %}
    </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

      {% for item in children %}

            {% if item.value.flagCode === 'OT0001' %}
                {% set identifier = parent.value.flagCode + '.' + item.value.flagCode %}
                {% set count = '200' %}
                {% set row = '5' %}
            {% else %}
                {% set identifier = item.value.flagCode %}
                {% set count = '200' %}
                {% set row = '1' %}
            {% endif %}

            <div class="govuk-checkboxes__item">
                <input aria-labelledby="checkbox-label-{{item.id }}" aria-describedby="{{inputName}}-{{ item.id }}-hint" class="govuk-checkboxes__input" id="_enabled-{{ item.id }}" name="enabled" type="checkbox" value="{{ item.id }}"  {% if item._flagComment %}data-aria-controls="conditional-{{ item.id }}"{% endif %} {% if item._enabled %}checked{% endif %}>
                <label id="checkbox-label-{{item.id }}" class="govuk-label govuk-checkboxes__label" for="_enabled-{{ item.id }}">
                    {% if welsh === false %}{{ item.value.name }}{% else %}{{ item.value.name_cy }}{% endif %}
                </label>
                <div id="{{inputName}}-{{ item.id }}-hint" class="govuk-hint govuk-checkboxes__hint">
                    {{ _t(identifier + '.hint') }}
                </div>
            </div>

            {% if item._flagComment %}
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-{{ item.id }}">
                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="{{count}}"
                        data-i18n.characters-under-limit.other="{{ _t('form.charCount.charactersUnderLimit.other') }}"
                        data-i18n.characters-under-limit.one="{{ _t('form.charCount.charactersUnderLimit.one') }}"
                        data-i18n.characters-at-limit="{{ _t('form.charCount.charactersAtLimit') }}"
                        data-i18n.characters-over-limit.other="{{ _t('form.charCount.charactersOverLimit.other') }}"
                        data-i18n.characters-over-limit.one="{{ _t('form.charCount.charactersOverLimit.one') }}"
                    >
                        <div class="govuk-form-group">
                            <label id="{{inputName}}-{{ item.id }}-control" class="govuk-label" for="{{inputName}}-{{ item.id }}">
                                {{ _t(identifier + '.control') }}
                            </label>
                            {% if item._errors|length %}
                                <p id="more-detail-error" class="govuk-error-message">
                                    {% for error in item._errors %}
                                        <span class="govuk-visually-hidden">Error:</span> {% if _t(error) %}{{ _t(error) }}{% else %}error{% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            <textarea id="{{inputName}}-{{ item.id }}" rows="{{row}}" aria-labelledby="checkbox-label-{{item.id }} {{inputName}}-{{ item.id }}-control" aria-describedby="{{inputName}}-{{ item.id }}-info {{inputName}}-{{ item.id }}-hint" class="govuk-textarea govuk-js-character-count {% if item._errors|length %}govuk-input--error{% endif %}" name="data[{{ item.id }}][{{inputName}}]" type="text" spellcheck="false">{{ item.value[inputName] }}</textarea>
                        </div>
                        <div id="{{inputName}}-{{ item.id }}-info" class="govuk-hint govuk-character-count__message">
                            {{ _r(_t('form.charCount.hint'), {count: count}) }}
                        </div>
                    </div>
                </div>
            {% endif %}
      {% endfor %}

      <div class="govuk-checkboxes__divider">{{ _t('orDivider') }}</div>

        <div class="govuk-checkboxes__item">
            <input aria-labelledby="checkbox-label-0" class="govuk-checkboxes__input" id="_enabled-0" name="enabled" type="checkbox" value="none"  {% if item._enabled %}checked{% endif %} data-behaviour="exclusive">
            <label id="checkbox-label-0" class="govuk-label govuk-checkboxes__label" for="_enabled-0">
                {{ _t('form.noSupport') }}
            </label>
        </div>

      </div>

{% endblock %}
