{% extends "./base.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/accessible-autocomplete/macro.njk" import accessibleAutocomplete %}

{% set count = '80' %}
{% set row = '1' %}

{% if welsh === false %}
    {% set inputName = 'subTypeValue' %}
    {% set radioValue = 'value' %}
{% else %}
    {% set inputName = 'subTypeValue_cy' %}
    {% set radioValue = 'value_cy' %}
{% endif %}

{% block form %}

  <div class="govuk-form-group {% if validationErrors and (validationErrors | length > 0) %}govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" aria-describedby="radio-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          {{ currentFlag.name }}
        </h1>
      </legend>

        {{ accessibleAutocomplete({
                name: "selected",
                hint: _t('form.typeahead.hint'),
                opts: parent._listOfValues,
                value: parent.value.subTypeKey
        }) }}

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="_enabled-other" name="enabled" type="checkbox" value="OT0001"  data-aria-controls="conditional-other" {% if parent._other === true %}checked{% endif %}>
          <label class="govuk-label govuk-checkboxes__label" for="other">
              {{_t('form.typeahead.not_listed')}}
          </label>
          <div id="{{inputName}}-{{ parent.id }}-hint" class="govuk-hint govuk-checkboxes__hint">
              {{ _t('OT0001.hint') }}
          </div>
        </div>

        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other">
              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="{{count}}" 
                  data-i18n.characters-under-limit.other="{{ _t('form.char_count.characters_under_limit.other') }}"
                  data-i18n.characters-under-limit.one="{{ _t('form.char_count.characters_under_limit.one') }}"
                  data-i18n.characters-at-limit="{{ _t('form.char_count.characters_at_limit') }}"
                  data-i18n.characters-over-limit.other="{{ _t('form.char_count.characters_over_limit.other') }}"
                  data-i18n.characters-over-limit.one="{{ _t('form.char_count.characters_over_limit.one') }}"
              >
                  <div class="govuk-form-group">
                      <label id="other-control" class="govuk-label" for="other">
                          {{ _t('form.typeahead.control') }}
                      </label>
                      {% if parent._errors|length %}
                        <p id="more-detail-error" class="govuk-error-message">
                            {% for error in parent._errors %}
                                <span class="govuk-visually-hidden">Error:</span> {% if _t(error) %}{{ _t(error) }}{% else %}error{% endif %}
                            {% endfor %}
                        </p>
                      {% endif %}
                      <textarea id="other" rows="{{row}}" aria-describedby="other-info other-hint" class="govuk-textarea govuk-js-character-count {% if parent._errors|length %}govuk-input--error{% endif %}" name="data[{{ parent.id }}][{{inputName}}]" type="text" spellcheck="false">{% if parent.value.subTypeKey === null or  parent.value.subTypeKey === undefined %}{{ parent.value[inputName] }}{% endif %}</textarea>
                  </div>
                  <div id="other-info" class="govuk-hint govuk-character-count__message">
                      {{ _r(_t('form.char_count.hint'), count) }}
                  </div>
              </div>
          </div>

       <div class="govuk-checkboxes__divider">{{ _t('or_divider') }}</div>

        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="_enabled-0" name="enabled" type="checkbox" value="none"  data-behaviour="exclusive">
            <label class="govuk-label govuk-checkboxes__label">
                {{ _t('form.no_support') }}
            </label>
        </div>

      </div>
    </fieldset>
  </div>

{% endblock %}